
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lavender;
}
h1{
    background-color: blueviolet;
    color: lavender;
    text-align: center;
}
h2{
    color: blueviolet;
}
